
<nav class="sticky">
    <ul>
        <li><img src="/Logo M2.png"></li>
        <div id="my-ul">
            <li><a href="/">Home</a></li>
            <li><a href="/our-services">Our services</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </div>
    </ul>
</nav>
