
<br><h1> SERVICES </h1>
<div id="services">
    <div class="service-box">
        <h2>Branding & Strategy</h2>
        <img src="/image/branding.png">
        <p>A brand is more than a logo or a name, it’s the experience you share with your audience, the values you stand for, the promise to your clients and the story behind the curtains.
            How to strategize? Well, let us worry about that.</p>
    </div>
    <div class="service-box">
        <h2>design & Print</h2>
        <img src="/image/print.png">
        <p>Do not let appearances deceive you, our monkeys are masters of the arts. We create your whole visual image from scratch, picking only the ideal colors with which to best convey your personality.</p>
    </div>
    <div class="service-box">
        <h2>Digital Marketing</h2>
        <img src="/image/digital.png">
        <p>In an era where everything is everchanging at the speed of light, we lead brands into a digital world and help them take advantage of change itself. You shall have more glamour in your social media than a food blogger on Instagram.</p>
    </div>
</div>